nav ul {
    list-style:none;
}
nav ul li a {
    float:left;
    width:150px;
    color:#fff;
    text-decoration:none;
    display:block;
    text-align:center;
}
nav ul li a:hover {
    background-color:#e67e22;
    display:block;
}
/*css untuk menu hover dropdown*/
nav ul li:hover .sub1 {display:block}
nav ul .sub1 {
    display:none;
    position:absolute;
    left:150px;
    top:50px;
    background-color:#d35400;
}
.sub1 a:hover { color:#fff }
