.boxed {
  background: url("../img/boxed-pattern.png");
}

.boxed #all {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

a {
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
  display: inline-block;
}

button {
  cursor: pointer;
}

strong {
  font-weight: 700;
}

p.lead {
  margin-bottom: 40px;
}

.accent {
  color: #4fbfa8;
}

.tooltip {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.bs-select .dropdown-menu .dropdown-menu {
  min-height: 20px;
  display: block;
}

.bs-select .dropdown-menu .dropdown-menu a {
  padding: 6px 10px;
  color: #666;
  font-weight: 700;
  text-decoration: none !important;
  display: block;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  outline: none;
}

.heading-light {
  font-weight: 300 !important;
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 0.9rem;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.no-letter-spacing {
  letter-spacing: 0 !important;
}

.bar {
  padding: 60px 0;
}

.bar.padding-big {
  padding: 50px 0;
}

.pagination {
  margin-top: 20px;
}

#pagination .pagination {
  margin-bottom: 40px;
}

.text-sm, .form-group label, #blog-listing-big .date-comments a, #blog-listing-medium .date-comments a, #blog-listing-big p.intro, #blog-listing-medium p.intro {
  font-size: 0.9rem;
}

.text-xs {
  font-size: 0.9rem;
}

.text-xs * {
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .text-sm-center {
    text-align: center !important;
  }
}

@media (max-width: 991px) {
  .text-md-center {
    text-align: center !important;
  }
}

@media (max-width: 1199px) {
  .text-lg-center {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .text-center-sm {
    text-align: center !important;
  }
}

@media (max-width: 991px) {
  .text-center-md {
    text-align: center !important;
  }
}

@media (max-width: 1199px) {
  .text-center-sm, .text-center-xs {
    text-align: center !important;
  }
}

.bg-gray {
  background: #e9ecef !important;
}

.bg-gray-dark {
  background: #555 !important;
}

.bg-primary {
  background: #4fbfa8 !important;
}

.color-white {
  color: #fff !important;
}

.color-white * {
  color: #fff !important;
}

.bg-white {
  background: #fff !important;
}

.bg-fixed {
  background-attachment: fixed !important;
}

.light-gray {
  background: #eee;
}

.no-mb {
  margin-bottom: 0 !important;
}

.no-mt {
  margin-top: 0 !important;
}

.no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-small {
  margin-bottom: 20px !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.padding-horizontal {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.relative-positioned {
  position: relative;
  z-index: 1;
}

.jumbotron {
  margin: 0;
}

.owl-carousel.equal-height .owl-stage {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.background-pentagon, #heading-breadcrumbs {
  background: url("../img/texture-bw.png") center center repeat;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.heading, .panel-heading {
  margin-bottom: 1rem;
}

/*Text Start*/
.heading h1, .panel-heading h1, .heading h2, .panel-heading h2, .heading h3, .panel-heading h3, .heading h4, .panel-heading h4, .heading h5, .panel-heading h5, .heading h6, .panel-heading h6 {
  line-height: 1.1;
  font-size: 3rem;
  font-family: 'Archivo Narrow';
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 10px;
  text-transform: none;
  letter-spacing: 0.1em;
}

.heading h1:after, .panel-heading h1:after, .heading h2:after, .panel-heading h2:after, .heading h3:after, .panel-heading h3:after, .heading h4:after, .panel-heading h4:after, .heading h5:after, .panel-heading h5:after, .heading h6:after, .panel-heading h6:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin-top: .6rem;
}
/*Text End*/









.heading.text-center h1:after, .text-center.panel-heading h1:after, .heading.text-center h2:after, .text-center.panel-heading h2:after, .heading.text-center h3:after, .text-center.panel-heading h3:after, .heading.text-center h4:after, .text-center.panel-heading h4:after, .heading.text-center h5:after, .text-center.panel-heading h5:after, .heading.text-center h6:after, .text-center.panel-heading h6:after {
  margin-left: auto;
  margin-right: auto;
}

.buttons a {
  margin: 0 3px;
}

.dropdown-item.active, .dropdown-item:active {
  background: #9adacd;
}

.card {
  border-radius: 0;
  margin-bottom: 10px;
}

.card-header {
  border-radius: 0;
  padding: 20px;
}

.card-header h1, .card-header h2, .card-header h3, .card-header h4, .card-header h5, .card-header h6 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.935rem;
  margin: 0 !important;
}

.card-header a {
  color: #333;
}

.card-body p {
  font-size: 0.9rem;
  color: #333;
}

.alert {
  border-radius: 0;
}

#heading-breadcrumbs {
  padding: 2rem 0;
  border-top: none !important;
  border-bottom: none !important;
}

#heading-breadcrumbs .breadcrumb {
  margin-bottom: 0;
  background: none;
  font-size: 0.9rem;
}

#heading-breadcrumbs h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}

#heading-breadcrumbs li {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.row.no-space {
  margin-left: 0;
  margin-right: 0;
}

.row.no-space div[class*="col-"] {
  padding: 0;
}

.row.no-space .box-image {
  margin: 0;
}

.owl-carousel .owl-dots {
  margin-top: 20px;
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 5px;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #fff;
}

.owl-carousel .owl-dots .owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #aaa;
}

/*start section*/

.col-md-12 > a > img{
 height: 100%;
 width: 100%;
}
.col-md-12 > h4.ex{
  font-family: 'Vollkorn Regular';
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}
.col-md-12 > h6.xam{
  font-family: 'Vollkorn Regular';
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: -50px;
}
/*end section*/




.dark-mask {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dark-mask.mask-primary {
  background: rgba(0, 0, 0, 0.5);
}

.icon-outlined {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.icon-outlined.icon-lg {
  font-size: 2rem;
}

.icon-outlined.icon-sm {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 1.15rem;
}

.icon-outlined.icon-thin {
  border-width: 1px;
}

.icon-filled {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #4fbfa8;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem;
}

.ul-icons .icon-filled {
  display: inline-block;
  margin-right: 10px;
}

.ul-icons li {
  margin-bottom: 20px;
  color: #555;
  font-size: 0.9rem;
}

.ul-icons a {
  display: inline;
}

ul.social {
  margin: 15px 0;
}

ul.social a {
  width: 28px;
  height: 28px;
  line-height: 28px;
  background: #555;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin: 0 2px;
  font-size: 0.8rem;
}

ul.social a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

ul.social a.facebook {
  background: #4561ae;
}

ul.social a.gplus {
  background: #c22026;
}

ul.social a.twitter {
  background: #34ccff;
}

ul.social a.email {
  background: #4b8046;
}

.showcase {
  color: #555;
}

.showcase .icon-outlined {
  border-color: #555;
}

.showcase .counter {
  margin-bottom: 20px;
  display: inline-block;
  margin-top: 0;
}

.showcase h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.935rem;
  margin-top: 0;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #4fbfa8;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
}

.form-group label {
  color: #555;
}

.card-primary {
  border-radius: 0;
  border-color: #4fbfa8;
}

.card-primary .card-header {
  background: #4fbfa8;
  color: #fff;
  border: none;
  border-radius: 0;
}

.card-primary .card-header a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.card-primary .card-body {
  border-color: #4fbfa8;
}

.card-body li {
  font-size: 0.9rem;
}

table {
  font-size: 0.9rem;
}

table img {
  min-width: 50px !important;
  max-width: 50px !important;
  height: 50px;
}

table input[type="number"] {
  max-width: 50px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs a.nav-link {
  border-radius: 0 !important;
  font-size: 0.9rem;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
}

/*top-bar*/

.top-bar {
  background: #476b6b;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 0;
}

.top-bar.top-bar-light {
  background: #fff;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.top-bar.top-bar-light a.login-btn, .top-bar.top-bar-light a.signup-btn {
  color: #555 !important;
}

.top-bar.top-bar-light a.login-btn span, .top-bar.top-bar-light a.signup-btn span {
  display: inline-block;
}

.top-bar p {
  margin-bottom: 0;
  font-size: 1.3rem;
}

.top-bar ul {
  margin-bottom: 0;
}

.top-bar a.login-btn, .top-bar a.signup-btn {
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none !important;
  font-size: 0.75rem;
  font-weight: 700;
  padding-top: 7px;
  margin-right: 10px;
}

.top-bar a.login-btn i, .top-bar a.signup-btn i {
  margin-right: 10px;
}

.top-bar ul.social-custom {
  margin-left: 20px;
}

.top-bar ul.social-custom li {
  padding: 0;
  margin: 0;
}

.top-bar ul.social-custom a {
  text-decoration: none !important;
  font-size: 1.5rem;
  padding-top: 1.8px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  margin: 0;
}

.top-bar ul.social-custom a:hover {
  background: #4fbfa8;
  color: #fff;
}

.top-bar .contact-info {
  margin-right: 20px;
}

.top-bar .contact-info a {
  font-size: 0.8rem;
}

/*end-top-bar*/

.modal .modal-header h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.modal input::-moz-placeholder {
  font-size: 0.85rem;
}

.modal input::-webkit-input-placeholder {
  font-size: 0.85rem;
}

.modal input:-ms-input-placeholder {
  font-size: 0.85rem;
}

.modal p {
  font-size: 0.85rem;
}

/* start navigation*/
header.nav-holder.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#navbar {
  background-color: rgb(255, 255, 255);
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0;
  padding-bottom: 0;

}

#navbar .navbar-toggler {
  font-size: 0.9rem;
  padding: 10px 15px;
  border-color: #00664d;
}

#navbar ul ul a {
  padding-left: 100px;
}

#navbar .dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

#navbar .dropdown-menu .dropdown-item {
  padding: 0;
}

#navbar .dropdown-menu h5 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
  margin-top: .7rem;
  margin-bottom: .5rem;
}

#navbar .dropdown-menu a.nav-link {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase !important;
  border-bottom: 1px solid #eee;
  padding: 15px 20px !important;
}

#navbar .dropdown-menu a.nav-link:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  color: #4fbfa8;
}

#navbar .menu-large {
  position: static !important;
}

#navbar .menu-large .megamenu {
  padding: 20px;
  width: 100%;
  max-width: 440px;
  left: 60%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -1px;
}

#navbar .menu-large a.nav-link {
  padding: 7px !important;
  padding-left: 0 !important;
}


#navbar .navbar-nav > li.active > a {
  background: #4fbfa8 !important;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 2px;
}

#navbar .navbar-nav > li > a {
  margin: 0;
  padding: 1.8rem 1.4rem 1.8rem;
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  border-top: .3rem solid transparent;
}

#navbar .navbar-nav > li > a:hover {
  background: #4fbfa8;
  border-radius: 2px;
}

#navbar .navbar-nav > li > a:focus {
  background: #4fbfa8  !important;
  color: #fff !important;
  text-decoration: none !important;
  border-color: #3aa18c !important;
}


#navbar.nav-light .navbar-nav > li > a:hover {
  background: none !important;
  border-color: #87d3c4 !important;
}

#navbar.nav-light .navbar-nav > li > a:focus {
  background: none !important;
  color: #555 !important;
  text-decoration: underline !important;
  border-color: #4fbfa8 !important;
}


@media (max-width: 991px) {
  #navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #navbar .menu-large .megamenu {
    width: 100%;
    left: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  #navbar .navbar-nav > li > a {
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    border-top: 0;
    font-size: 0.85rem;
    width: 100%;
  }

  #navbar .navbar-collapse {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 1rem;
  }

  #navbar .navbar-nav > li > a:hover {
    background: rgba(79, 191, 168, 0.5);
    border-color: rgba(79, 191, 168, 0.8);
  }
  #navbar .dropdown-menu {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


.container-fluid > h1{
  font-family: 'Vollkorn Regular';
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
  padding: 1.8rem 1.4rem 1.8rem;
  padding-left: 1px;
}

.container-fluid > a > img {
  height: 40px;
  padding-left: 50px;
  margin-right: -15px;
}
